@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .iconButton {
    @apply flex items-center justify-center w-10 h-10 rounded-full shadow-sm shadow-proj-purple bg-proj-lightGray transition-all duration-200 hover:shadow-md hover:shadow-proj-purple active:shadow-inner active:shadow-proj-purple dark:hover:shadow-proj-orange dark:shadow-proj-orange dark:bg-proj-darkGray dark:active:shadow-proj-orange [&>*]:active:fill-proj-white [&>*]:dark:active:fill-proj-black;
  }

  .iconButton-icon {
    @apply w-6 h-6 fill-proj-darkGray dark:fill-proj-lightGray transition-all duration-200;
  }

  .navArrowButton {
    @apply block w-8 h-8 rounded-full transition-all duration-200 shadow-sm shadow-proj-purple hover:shadow-md hover:shadow-proj-purple  active:shadow-inner active:shadow-proj-purple dark:shadow-proj-orange dark:hover:shadow-md dark:hover:shadow-proj-orange dark:active:shadow-inner  dark:active:shadow-proj-orange;
  }

}

@layer utilities {
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  .highlight {
    @apply cursor-pointer duration-200 hover:shadow-md hover:shadow-proj-purple hover:scale-105 active:scale-100 dark:hover:shadow-proj-orange
  }
}

@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-VariableFont.ttf");
}

body {
  @apply w-full min-h-screen font-sans text-proj-black bg-proj-white dark:text-proj-white dark:bg-proj-black;
}
